			.header-bar-social-icons {
			    float: right;
			}
			
			.header-bar-social-icons i {
			    padding-left: 15px;
			}
			
			.header-bar-social-icons a {
			    color: #ffffff;
			}
			
			.site-title,
			.site-description {
			    position: absolute;
			    clip: rect(1px, 1px, 1px, 1px);
			}
			
			.tg-site-header .tg-site-header-top {
			    color: #ffffff;
			}
			
			.tg-site-header .tg-site-header-top {
			    background-color: #4ac6d6;
			    background-image: ;
			    background-repeat: repeat;
			    background-position: center center;
			    background-size: contain;
			    background-attachment: scroll;
			}
			
			.tg-site-header {
			    border-bottom-width: 0px;
			}
			
			.main-navigation.tg-primary-menu>div ul li.tg-header-button-wrap a {
			    color: #fefefe;
			}
			
			.main-navigation.tg-primary-menu>div ul li.tg-header-button-wrap a:hover {
			    color: #fefefe;
			}
			
			.main-navigation.tg-primary-menu>div ul li.tg-header-button-wrap a {
			    background-color: #ff6a2a;
			}
			
			.main-navigation.tg-primary-menu>div ul li.tg-header-button-wrap a:hover {
			    background-color: #ff5811;
			}
			
			.main-navigation.tg-primary-menu>div ul li.tg-header-button-wrap a {
			    border-radius: 5px;
			}
			
			.main-navigation.tg-primary-menu>div ul li.tg-header-button-wrap a {
			    padding: 8px 15px 8px 15px;
			}
			
			.tg-primary-menu>div>ul li:not(.tg-header-button-wrap):hover>a {
			    color: #ff6a2a;
			}
			
			.tg-primary-menu>div ul li:active>a,
			.tg-primary-menu>div ul>li:not(.tg-header-button-wrap).current_page_item>a,
			.tg-primary-menu>div ul>li:not(.tg-header-button-wrap).current-menu-item>a {
			    color: #ff6a2a;
			}
			
			.tg-primary-menu.tg-primary-menu--style-underline>div ul>li:not(.tg-header-button-wrap).current_page_item>a::before,
			.tg-primary-menu.tg-primary-menu--style-underline>div ul>li:not(.tg-header-button-wrap).current-menu-item>a::before,
			.tg-primary-menu.tg-primary-menu--style-left-border>div ul>li:not(.tg-header-button-wrap).current_page_item>a::before,
			.tg-primary-menu.tg-primary-menu--style-left-border>div ul>li:not(.tg-header-button-wrap).current-menu-item>a::before,
			.tg-primary-menu.tg-primary-menu--style-right-border>div ul>li:not(.tg-header-button-wrap).current_page_item>a::before,
			.tg-primary-menu.tg-primary-menu--style-right-border>div ul>li:not(.tg-header-button-wrap).current-menu-item>a::before {
			    background-color: #ff6a2a;
			}
			
			@media (min-width: 1200px) {
			    .tg-container {
			        max-width: 1240px;
			    }
			}
			
			.tg-page-header {
			    padding: 30px 0px 30px 0px;
			}
			
			.tg-page-header {
			    background-color: #eaf6fa;
			    background-image: ;
			    background-repeat: repeat;
			    background-position: center center;
			    background-size: contain;
			    background-attachment: scroll;
			}
			
			.tg-page-header .breadcrumb-trail ul li {
			    color: #5b5b5b;
			}
			
			.tg-page-header .breadcrumb-trail ul li::after {
			    color: #7b7b7b;
			}
			
			.tg-page-header .breadcrumb-trail ul li a {
			    color: #000000;
			}
			
			.tg-page-header .breadcrumb-trail ul li a:hover {
			    color: #ffb716;
			}
			
			a:hover,
			a:focus,
			.tg-primary-menu>div ul li:hover>a,
			.tg-primary-menu>div ul li.current_page_item>a,
			.tg-primary-menu>div ul li.current-menu-item>a,
			.tg-mobile-navigation>div ul li.current_page_item>a,
			.tg-mobile-navigation>div ul li.current-menu-item>a,
			.entry-content a,
			.tg-meta-style-two .entry-meta span,
			.tg-meta-style-two .entry-meta a {
			    color: #ff6a2a;
			}
			
			.tg-primary-menu.tg-primary-menu--style-underline>div>ul>li.current_page_item>a::before,
			.tg-primary-menu.tg-primary-menu--style-underline>div>ul>li.current-menu-item>a::before,
			.tg-primary-menu.tg-primary-menu--style-left-border>div>ul>li.current_page_item>a::before,
			.tg-primary-menu.tg-primary-menu--style-left-border>div>ul>li.current-menu-item>a::before,
			.tg-primary-menu.tg-primary-menu--style-right-border>div>ul>li.current_page_item>a::before,
			.tg-primary-menu.tg-primary-menu--style-right-border>div>ul>li.current-menu-item>a::before,
			.tg-scroll-to-top:hover,
			button,
			input[type="button"],
			input[type="reset"],
			input[type="submit"],
			.tg-primary-menu>div ul li.tg-header-button-wrap a {
			    background-color: #ff6a2a;
			}
			
			body {
			    color: #54595f;
			}
			
			button,
			input[type="button"],
			input[type="reset"],
			input[type="submit"] {
			    background-color: #ff6a2a;
			}
			
			button:hover,
			input[type="button"]:hover,
			input[type="reset"]:hover,
			input[type="submit"]:hover {
			    background-color: #ff4c00;
			}
			
			.entry-content a {
			    color: #4ac6d6;
			}
			
			.entry-content a:hover,
			.entry-content a:focus {
			    color: #00bdd6;
			}
			
			.tg-site-footer .tg-site-footer-bar {
			    color: #cccccc;
			}
			
			.tg-site-footer .tg-site-footer-bar a {
			    color: #ffffff;
			}
			
			.tg-site-footer .tg-site-footer-bar a:hover,
			.tg-site-footer .tg-site-footer-bar a:focus {
			    color: #4ac6d6;
			}
			
			.tg-site-footer .tg-site-footer-bar {
			    background-color: #081726;
			    background-image: ;
			    background-repeat: repeat;
			    background-position: center center;
			    background-size: contain;
			    background-attachment: scroll;
			}
			
			.tg-site-footer-widgets {
			    background-color: #081726;
			    background-image: ;
			    background-repeat: no-repeat;
			    background-position: center center;
			    background-size: cover;
			    background-attachment: scroll;
			}
			
			.tg-site-footer .tg-site-footer-widgets {
			    border-top-width: 0px;
			}
			
			.tg-site-footer .tg-site-footer-widgets .widget-title {
			    color: #4ac6d6;
			}
			
			.tg-site-footer .tg-site-footer-widgets,
			.tg-site-footer .tg-site-footer-widgets p {
			    color: #d9e2ea;
			}
			
			.tg-site-footer .tg-site-footer-widgets a {
			    color: #d9e2ea;
			}
			
			.tg-site-footer .tg-site-footer-widgets a:hover,
			.tg-site-footer .tg-site-footer-widgets a:focus {
			    color: #2aaabb;
			}
			
			.tg-site-footer .tg-site-footer-widgets ul li {
			    border-bottom-color: rgba(255, 255, 255, 0.05);
			}
			
			.tg-scroll-to-top:hover {
			    color: #3f3f3f;
			}
			
			.tg-scroll-to-top {
			    background-color: #ffbb04;
			}
			
			.tg-scroll-to-top.tg-scroll-to-top--show:hover {
			    background-color: rgba(255, 191, 17, 0.95);
			}
			
			body {
			    font-family: Work Sans;
			    font-size: 15px;
			    line-height: 1.8;
			    font-weight: 400;
			    font-style: normal;
			}
			
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
			    font-family: Work Sans;
			    line-height: 1.3;
			    font-weight: 600;
			    font-style: normal;
			}
			
			.site-branding .site-title {
			    font-family: Work Sans;
			    font-size: 1.313rem;
			    line-height: 1.5;
			    font-weight: 400;
			    font-style: normal;
			}
			
			.site-branding .site-description {
			    font-family: Work Sans;
			    font-size: 1rem;
			    line-height: 1.8;
			    font-weight: 400;
			    font-style: normal;
			}
			
			.tg-primary-menu>div ul li a {
			    font-family: Work Sans;
			    font-size: 15px;
			    line-height: 1.8;
			    font-weight: 400;
			    font-style: normal;
			}
			
			.tg-primary-menu>div ul li ul li a {
			    font-family: Work Sans;
			    font-size: 1rem;
			    line-height: 1.8;
			    font-weight: 400;
			    font-style: normal;
			}
			
			.tg-mobile-navigation a {
			    font-family: Work Sans;
			    font-size: 1rem;
			    line-height: 1.8;
			    font-weight: 400;
			    font-style: normal;
			}
			
			.tg-page-header .tg-page-header__title,
			.tg-page-content__title {
			    font-family: Work Sans;
			    line-height: 1.3;
			    font-weight: 500;
			    font-style: normal;
			    color: #5b5b5b;
			}
			
			.entry-title:not(.tg-page-content__title) {
			    font-family: Work Sans;
			    font-size: 2.25rem;
			    line-height: 1.3;
			    font-weight: 500;
			    font-style: normal;
			}
			
			h1 {
			    font-family: Work Sans;
			    font-size: 2.5rem;
			    line-height: 1.3;
			    font-weight: 500;
			    font-style: normal;
			}
			
			h2 {
			    font-family: Work Sans;
			    font-size: 2.25rem;
			    line-height: 1.3;
			    font-weight: 500;
			    font-style: normal;
			}
			
			h3 {
			    font-family: Work Sans;
			    font-size: 2.25rem;
			    line-height: 1.3;
			    font-weight: 500;
			    font-style: normal;
			}
			
			h4 {
			    font-family: Work Sans;
			    font-size: 1.75rem;
			    line-height: 1.3;
			    font-weight: 500;
			    font-style: normal;
			}
			
			h5 {
			    font-family: Work Sans;
			    font-size: 1.313rem;
			    line-height: 1.3;
			    font-weight: 500;
			    font-style: normal;
			}
			
			h6 {
			    font-family: Work Sans;
			    font-size: 1.125rem;
			    line-height: 1.3;
			    font-weight: 500;
			    font-style: normal;
			}
			
			.widget .widget-title {
			    font-family: Work Sans;
			    font-size: 20px;
			    line-height: 1.3;
			    font-weight: 500;
			    font-style: normal;
			}
			
			.widget {
			    font-family: Work Sans;
			    font-size: 15px;
			    line-height: 1.8;
			    font-weight: 400;
			    font-style: normal;
			}
			
			img.wp-smiley,
			img.emoji {
			    display: inline !important;
			    border: none !important;
			    box-shadow: none !important;
			    height: 1em !important;
			    width: 1em !important;
			    margin: 0 .07em !important;
			    vertical-align: -0.1em !important;
			    background: none !important;
			    padding: 0 !important;
			}